<div class="main">
  <div class="topbar">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
        <span class="time">10:11 AM</span>
        <span class="alarm px-1"><i class="fa-solid fa-clock"></i></span>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <span class="signal px-1"><i class="fa-solid fa-signal"></i></span>
        <span class="signal px-1"><i class="fa-solid fa-signal"></i></span>
        <span class="wifi px-1"><i class="fa-solid fa-wifi"></i></span>
        <span class="battery-icon d-flex align-items-center">
          <i class="fa-solid fa-battery-three-quarters fa-xl px-1"></i>
          <span class="battery-font">61<span class="percentage">%</span></span>
        </span>
      </div>
    </div>
  </div>

  <div class="back-button">
    <span class="back-button-icon"><i class="fa-solid fa-angle-left"></i></span>
    <span class="back-button-text">Recharge History</span>
  </div>

  <div class="recharge-history">
    <div class="row text-center">
      <div class="col-6">
        <span class="recharge-header">Usage Type</span>
      </div>
      <div class="col-6">
        <span class="recharge-header">Amount</span>
      </div>
    </div>
    <hr>
    <div class="row text-center recharge-info">
      <div class="col-6">
        <p class="mobile-number" style="margin-top: 25px;">+8801618638686</p>
        <p class="date">02/03/2023 01:19 PM</p>
      </div>
      <div class="col-6">
        <p class="recharge-amount">500.0 BDT</p>
        <button class="btn recharge-btn">Repeat Recharge</button>
      </div>
    </div>
    <div class="row text-center recharge-info">
      <div class="col-6">
        <p class="mobile-number" style="margin-top: 25px;">+8801618638686</p>
        <p class="date">02/03/2023 01:19 PM</p>
      </div>
      <div class="col-6">
        <p class="recharge-amount">500.0 BDT</p>
        <button class="btn recharge-btn">Repeat Recharge</button>
      </div>
    </div>
  </div>

  <div class="bottom-bar d-flex align-items-center justify-content-center">
    <span class="navigation-bar"></span>
  </div>

</div>